@page "/"

<body>
    <h1 style="margin:auto auto;border: 2px solid black; text-align:center;">Welcome to Camp Tiger</h1>
    <br><br>
    <div style=" height:45%;width:35%;border: 1px solid black;float:right;">
        <h1 style="background-color: white; color: black; text-align: center;border-bottom:2px solid black;"> Indoor Activities</h1>
        <img style="height:35%;width:35%;float:right;" src="Images/indoor2.jpg" />
        <p1>
            Don't like bugs, or trees don't worry we still have activities for you. At Camp Tiger we pride ourselves in having activities for everyone.
            If we don't have it ask our group leaders and we will add it.
        </p1>

    </div>
    <div style=" height:45%;width:35%;border: 1px solid black;float:right; margin-right: 5%">
        <h1 style="background-color: white;color: black;text-align:center;border-bottom:2px solid black">Outdoor Activities</h1>
        <img style="height:45%;width:35%;float:right;" src="Images/kayaking.jpg" />
        <img style="height:35%;width:35%;float:right;" src="Images/campfire.jpg" />
        <p1> An adventure awaits you at Camp tiger. Join us as we enjoy nature and all its wonders and end the night with a campfire.</p1>
    </div>
    <div style=" height:45%;width:20%;border: 1px solid black;float: right;margin-top: 2%;margin-right:5%">
        <h1 style="background-color: white;color: black;text-align:center;border-bottom:2px solid black">SignUp</h1>
        <p1>To sign up just ask one of our camp councilors then you can join us for the fun festivities.</p1>
    </div>
    <div style=" height:45%;width:35%;border: 1px solid black;float: right;margin-top: 2%;margin-right:5%">
        <h1 style="background-color: white;color: black;text-align:center;border-bottom:2px solid black">Arts & crafts</h1>
        <img style="height:65%;width:35%;float:right;" src="Images/crafts1.jpg" />
        <img style="height:35%;width:35%;float:right;" src="Images/crafts2.jpg" />
        <p1> Our friendly staff, provides Arts & crafts to explore the creative side of our campers. We have activities ranging from pottery to drawing.</p1>
    </div>
</body>